@font-face{
	font-family: "Roboto";
	src: url('../webfonts/Roboto-Regular.ttf');
}

body {
	background-color: #1a1a1a;
	color: white;
	font-family: "Roboto";
}

#maincontainer {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-top: 30px;
	box-sizing: border-box;
}

.handle {
	width: 100%;
	height: 25px;
	background-color: #070707;
	position: absolute;
	top: 0;
	left: 0;
	/* ELectron exclusive */
	-webkit-app-region: drag;
	-webkit-user-select: none;
}

.handle ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
}

.handle ul li {
	display: block;
	float: left;
	width: 30px;
	height: 25px;
	margin-left: 2px;
	padding: 0;
	background-color: #0f0f0f;
	background: linear-gradient(#0f0f0f, #1f1f1f);
	text-align: center;
	line-height: 28px;
	-webkit-app-region: no-drag;
}


.handle ul li:hover {
	border-bottom: 3px solid #22E67E;
}

.handle .handle-title {
	display: block;
	float: left;
	line-height: 28px;
	margin-left: 20px;
}

.avatar-img {
	border-radius: 100%;
	width: 256px;
	position: relative;

}

.description {
	padding-top: 10px;
}

.description p {
	margin-top: 2px;
	margin-bottom: 2px;
}

.frame {
	display: block;
	float: left;
	margin-left: 25px;
}

#can {
	border-radius: 25px 25px 25px 25px;
}

#pong {
	text-align: center;
}
